<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="swiftype" translate="label" sortOrder="10">
			<label>Swiftype</label>
		</tab>
		<section id="swiftype_swiftype" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
			<label>Swiftype Autosuggestion</label>
			<tab>swiftype</tab>
			<resource>Swiftype_Swiftype::swiftype_swiftype</resource>
			<group id="settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Settings</label>
				<field id="engine_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				    <label>Swiftype Engine Key</label>
				    <comment>You can get your engine key at app.swiftype.com</comment>
				</field>
			</group>
		</section>
	</system>
</config>
